{% extends "base.html" %}

{% block body %}



<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Quantity</th>
                      <th class="">Item Price</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>
                  {%for row in cartdata%}
                  <tbody>
                    <tr class="">
                      <td class="">
                        <div class="product-info">
							 	
                          <img width="80" src="{{ url_for('static', filename='images/shop/products/'+row[2]) }}" alt="ali" />
                          <a href="#!">{{row[0]}}</a>
                        </div>
                      </td>
                      <td class="">{{row[3]}}</td>
                      <td class="">{{row[1]*row[3]}}</td>
                      <td class="">
                        <a class="product-remove" href="/remove/{{userid}}/{{row[0]}}">Remove</a>
                      </td>
                    </tr>
                    {%- endfor %}
                  </tbody>
                </table>
                <a href="{{ url_for('checkout',userid=userid) }}" class="btn btn-main pull-right">Checkout</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}