{% extends "base.html" %}

{% block body %}
<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="shop.html">Shop</a></li>
					<li class="active">Single Product</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
					<li><a href="blog-left-sidebar.html">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img src="{{ url_for('static', filename='images/shop/products/'+image[0]) }}" alt='{{image[0]}}'/>
								</div>								
							</div>
							
							<!-- sag sol -->
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li>
								<img src="{{ url_for('static', filename='images/shop/products/'+image[0]) }}" alt='Hello' />
							</li>
						</ol>
					</div>
				</div>
			</div>
			
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{name}}</h2>
					<p class="product-price">${{price[0]}}</p>
					
					<p class="product-description mt-20">
						{{desc[0]}}
					</p>
					<div class="product-size">
						<span>Size:</span>
						<select class="form-control">
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div>
					<form action="{{ url_for('productSingle',name=name,userid=userid )}}" method="POST">
					<div class="product-quantity">

						<label for="input-text"><span>Quantity:</span></label><br>
						<div class="product-quantity-slider">
						<input id="product-quantity" type="text" value="0" name="quantity">
						</div>
					</div>
					<div class="product-category">
						<label for="input-text"><span>Categories:</span></label><br>
						
						<ul>
							<li><a href="/productSingle/{{name}}/{{userid}}">Products</a></li>
							
						</ul>
					</div>
					<button type="submit" class="btn btn-main text-center">Add to Cart</button>
				</form>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{desc[0]}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- Modal -->
<div class="modal product-modal fade" id="product-modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i class="tf-ion-close"></i>
	</button>
  	<div class="modal-dialog " role="document">
    	<div class="modal-content">
	      	<div class="modal-body">
	        	<div class="row">
	        		<div class="col-md-8">
	        			<div class="modal-image">
		        			<img class="img-responsive" src="{{ url_for('static', filename='images/shop/products/modal-product.jpg')}}" />
	        			</div>
	        		</div>
	        		<div class="col-md-3">
	        			<div class="product-short-details">
	        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
	        				<p class="product-price">$200</p>
	        				<p class="product-short-description">
	        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
	        				</p>
	        				<button type="submit" class="btn btn-main text-center">Sign In</button>
	        				<a href="#!" class="btn btn-transparent">View Product Details</a>
	        			</div>
	        		</div>
	        	</div>
	        </div>
    	</div>
  	</div>
</div>
{% endblock %}